	@CHARSET "ISO-8859-1";
	body 
	{
		font-family : calibri;
		background : #fffffe;    
		color : black;
		text-align : center;
	}

	table 
	{
		margin-left:10%;
		margin-right: 10%;
		width:80%;
		border-collapse: collapse;
	}

	th
	{
		border-color: black;
		border-style: solid;
		background : #C1FFBC;
		border-color: #87de45;
		border-width : 2px;
		text-align : center;
	}

	tr:hover th
	{
		color:#000000;
		background-color: #98e698;
	}

	#title
	{
		color: white;
		background: #84B233;
		border-color: #84B233;
	}


	#effacer
	{
		background: url(Cross.png) no-repeat;
		width: 20px;
	}	

	#modifier
	{
		background: url(Pen.png)  no-repeat;
		width: 20px;
	}	

	#add
	{	
		left: 10px;
		margin-right: 2%;
		background: url(Green_add.png) no-repeat;
		background-color: white;
		width: 100px;
		height: 20px;
	}
	
	#back
	{
		background: url(Green_ok.png) no-repeat;
		background-color: white; 
		width: 100px;
		height: 20px;
	}